<!-- your html code here -->
<div class="bg-white border-0 p-5">
<h1>Contact</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto voluptate assumenda expedita vel adipisci in est laudantium ad sapiente illo repudiandae, magni odio eligendi facere cum esse laborum recusandae! Magni!</p>
<div class="bg-light border border-secondary border-opacity-10 m-auto p-2  d-grid gap-3 " style="width: 900px;">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam voluptas sint porro corporis magni at, sequi perspiciatis est nam illo aliquid libero amet quo officia aliquam eveniet consectetur aspernatur aut.</p>
            <div class="input-group ps-5">
                <div style="padding-left: 17px;">
                    <span class="input-group-text bg-light border-light" ><b>Your E-mail</b></span>
                </div>
                <textarea style="width: 300px; margin-left: 45px;" class="form-control contact-text" aria-label="With textarea" placeholder="Your email"></textarea>
            </div>
            <div class="input-group d-flex ps-5">
                <span class="input-group-text bg-light border-light" style="margin-bottom: 190px;"><b>Your message</b></span>
                <textarea style="width: 300px; height: 200px; margin-left: 45px;" class="form-control contact-text  aria-label="With textarea" placeholder="Please enter your message here..."></textarea>
            </div>
      <div class="d-flex flex-row-reverse" style="margin-top: -30px; margin-bottom: 15px;" >
        <button type="button" class="btn btn-primary" style="width:80px;">Submit</button>
      </div>
</div>
</div>