<!-- your html code here -->
<ul class="nav nav-pills bg-dark ">
    <li class="nav-item ">
      <a class="nav-link text-white " aria-current="page" href="#">Start bootstrap</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">About </a>
      <ul class="dropdown-menu bg-dark">
        <li><a class="dropdown-item text-white" href="#">Our project</a></li>
        <li><a class="dropdown-item text-white" href="#">Another action</a></li>
        <li><a class="dropdown-item text-white" href="#">Something else here</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item text-white" href="#">Separated link</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#sec">Services</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#portfolio">Portfolio</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" href="#contact">Contact</a>
      </li>
  </ul>